<div class="container">
  <div class="form-section">
    <h1 class="title">
      Register
    </h1>

    <form [formGroup]="registerForm" class="form">
      <mat-form-field appearance="outline" class="d-block">
        <input matInput placeholder="Email" formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="d-block">
        <input matInput placeholder="Password" type="password" formControlName="password" />
      </mat-form-field>
    </form>

    <button mat-raised-button (click)="register()">
      Register
    </button>
  </div>

</div>
